<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h2>Consultar DNS</h2>
                                                <h6>Pon estos DNS en tu dominio para que apunte a nuestro servidor</h6>
                                                <p>Mándaselos quien tenga accesos al dominio y..</p>
                                                <p>descarga aqui un manual para hacerlo tu mismo.</p>
                                                <h6>-345.blueshost.234</h6> 
                                                <h6>-345.blueshost.234</h6>
                                                <button type="button" class="btn btn-outline-primary" routerLink="/">Guardar y continuar despues</button> 
                                                
                                                <p>Puede tardar hasta 24 horas en verse reflejado el cambio de DNS</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>