<app-navbar></app-navbar>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h2>Subir un articulo del blog</h2>
                                                <br>
                                                <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <input formControlName="chooseFiles" class="form-control" type="file" id="formFileMultiple" multiple>
                                                        <div *ngIf="myForm.get('chooseFiles').errors && myForm.get('chooseFiles').dirty || myForm.get('chooseFiles').touched">
                                                            <p class="text-danger" *ngIf="myForm.get('chooseFiles').hasError('required')">
                                                                Este campo es obligatorio
                                                            </p>
                                                        </div>
                                                      </div>
                                                      <div class="col">
                                                        <p>o arrastre y suelte los archivos aqui.</p>
                                                    </div>
                                                    <p>*Solo subir archivos .doc*</p>
                                                    <div class="container">
                                                        <div class="row">
                                                          <div class="col">
                                                            <input formControlName="chooseFiles1" class="form-control" type="file" id="formFileMultiple" multiple>
                                                            <div *ngIf="myForm.get('chooseFiles1').errors && myForm.get('chooseFiles1').dirty || myForm.get('chooseFiles1').touched">
                                                                <p class="text-danger" *ngIf="myForm.get('chooseFiles1').hasError('required')">
                                                                    Este campo es obligatorio
                                                                </p>
                                                            </div>
                                                          </div>
                                                          <div class="col">
                                                            <p>o arrastre y suelte los archivos aqui.</p>
                                                        </div>
                                                        <p>*Solo archivos PDF, PNG, JPG o GIF*</p>
                                                    <p>*Maximo 550k. nosotros lo comprimimos para la web</p>
                                                    
                                            </div> 
                                            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Enviar</button>
                                            <p>Recuerda que los cambios pueden tardar hasta 24 horas en verse reflejados</p> 
                                        </div>
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<app-footer></app-footer>