<img src="assets/img/piso13.png" width="125" alt="">
<div class="container"> 
    <br>
    <h1>Registrate</h1> 
    <br>
    <h4>Estas a un paso de estrenar tu pagina web con el plan de arrendamiento web</h4>
</div>
<form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
    <div class="container w-75 bg mt-5 rounded shadow"> 
        <div class="row align-items-stretch">
            <div class="p-5 rounded-end">
                <div class="row"> 
                    <div class="container-fluid">
                        <div class="row" id="map_section">
                            <div class="col-20">
                                <div class="container">
                                    <div class="row">
                                      <div class="col">
                                        <label for="text" class="form-label">Nombre</label>
                                        <input formControlName="name" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('name').errors && myForm.get('name').dirty || myForm.get('name').touched">
                                            <p class="text-danger" *ngIf="myForm.get('name').hasError('required')">
                                                El nombre es obligatorio
                                            </p>
                                        </div>

                                        <label for="date" class="form-label">Fecha de Nacimiento</label>
                                        <input formControlName="birthday" type="date" class="form-control" name="date">
                                        <div *ngIf="myForm.get('birthday').errors && myForm.get('birthday').dirty || myForm.get('birthday').touched">
                                            <p class="text-danger" *ngIf="myForm.get('birthday').hasError('required')">
                                                La fecha de nacimiento es obligatorio
                                            </p>
                                        </div>

                                        <label for="email" class="form-label">Correo Electronico</label>
                                        <input formControlName="email" type="email" class="form-control" name="email">
                                        <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty || myForm.get('email').touched">
                                            <p class="text-danger" *ngIf="myForm.get('email').hasError('required')">
                                                El correo electronico es obligatorio
                                            </p>
                                        </div>

                                        <label for="password" class="form-label">Contraseña</label>
                                        <input formControlName="password" type="password" class="form-control" name="password"> <br>
                                        <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty || myForm.get('password').touched">
                                            <p class="text-danger" *ngIf="myForm.get('password').hasError('required')">
                                                La contraseña es obligatorio
                                            </p>
                                        </div>
                                        
                                        <div [hidden]="captcha">
                                            
                                            <re-captcha (resolved)="resolved($event)" siteKey="6Lc87toeAAAAAL-f6RoOH0JASvAWgned8KlOpJV8"></re-captcha>
                                        </div>
                                        <div [hidden]="!captcha">
                                            

                                        </div>
                                        <br>
                                          <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">SIGUIENTE</button>
                                      </div>

                                      

                                      <div class="col">
                                        <label for="text" class="form-label">Apellido Paterno</label>
                                        <input formControlName="lastName" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('lastName').errors && myForm.get('lastName').dirty || myForm.get('lastName').touched">
                                            <p class="text-danger" *ngIf="myForm.get('lastName').hasError('required')">
                                                El apellido paterno es obligatorio
                                            </p>
                                        </div>

                                        <label for="text" class="form-label">Nacionalidad</label>
                                        <input formControlName="nationality" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('nationality').errors && myForm.get('nationality').dirty || myForm.get('nationality').touched">
                                            <p class="text-danger" *ngIf="myForm.get('nationality').hasError('required')">
                                                La nacionalidad es obligatorio
                                            </p>
                                        </div>

                                        <label for="number" class="form-label">Movil</label>
                                        <input formControlName="phone" type="number" class="form-control" name="number">
                                        <div *ngIf="myForm.get('phone').errors && myForm.get('phone').dirty || myForm.get('phone').touched">
                                            <p class="text-danger" *ngIf="myForm.get('phone').hasError('required')">
                                                El movil es obligatorio
                                            </p>
                                        </div>

                                        <label for="password" class="form-label">Verificar contraseña</label>
                                        <input formControlName="passwordCheck" type="password" class="form-control" name="password"> <br>
                                        <div *ngIf="myForm.get('passwordCheck').errors && myForm.get('passwordCheck').dirty || myForm.get('passwordCheck').touched">
                                            <p class="text-danger" *ngIf="myForm.get('passwordCheck').hasError('required')">
                                                La verificacion de contraseña es obligatorio
                                            </p>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-header">
                                              La contraseña debe tener:
                                            </div>
                                            <ul class="list-group list-group-flush">
                                              <li class="list-group-item">Minimo de 8 caracteres</li>
                                              <li class="list-group-item">1 letra mayuscula</li>
                                              <li class="list-group-item">1 caracter especial (@ , # , $)</li>
                                              <li class="list-group-item">1 numero</li>
                                            </ul>
                                          </div>
                                      </div>
                                      

                                      <div class="col">
                                        <label for="text" class="form-label">Apellido Materno</label>
                                        <input formControlName="lastNameOne" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('lastNameOne').errors && myForm.get('lastNameOne').dirty || myForm.get('lastNameOne').touched">
                                            <p class="text-danger" *ngIf="myForm.get('lastNameOne').hasError('required')">
                                                El apellido materno es obligatorio
                                            </p>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</form>
