<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h2>Necesito otro mail</h2>
                                                <h5>Escribe el mail que necesitas.</h5>
                                                <br>
                                                <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <input type="text" class="form-control" name="text" placeholder="mail"> 
                                                        <br>
                                                      </div>
                                                      <div class="col">
                                                        @tusitio.com
                                                    </div>
                                                
                                                    <div class="container">
                                                        <div class="row">
                                                          <div class="col">
                                                            <input type="text" class="form-control" name="text" placeholder="contraseña">
                                                            <br>
                                                          </div>
                                                          <div class="col">
                                                            
                                                        </div>
                                                        <div class="container">
                                                            <div class="row">
                                                              <div class="col">
                                                                <input type="text" class="form-control" name="text" placeholder="confirmar contraseña">
                                                                <br>
                                                              </div>
                                                              <div class="col">
                                                                  
                                                            </div>
                                                            
                                            </div>
                                            <button type="button" class="btn btn-outline-primary" routerLink="/">Enviar</button>
                                            <p>Recuerda que los cambios pueden tardar hasta 24 horas en verse reflejados</p> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<app-footer></app-footer>