<img src="assets/img/piso13.png" width="125" alt="">
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h1>PANEL DE ADMINISTRACIÓN</h1>
                                                <div class="table-responsive">
                                                   <table class="table table-bordered">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Dominio</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Plan</th>
                                                        <th scope="col">Mail</th>
                                                        <th scope="col">Pago mensual</th>
                                                        <th scope="col">Pagos</th>
                                                        <th scope="col">Datos personales</th>
                                                        <th scope="col">Status</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <th scope="row">google.com</th>
                                                        <td>Diego Lopez Lopez</td>
                                                        <td>Basico</td>
                                                        <td><a href="#" class="card-link">diego@gmail.com  <button type="button" class="btn btn-outline-primary text-center">Enviar mail</button></a></td>
                                                        <td><a href="#" class="card-link"></a>2500</td>
                                                        <td><a href="#" class="card-link"></a>5</td>
                                                        <td><a href="#" class="card-link"></a>Descargar</td>
                                                        <td><a href="#" class="card-link"></a>Pagado</td>
                                                        
                                                      </tr>
                                                      <tr>
                                                        <th scope="row"></th>
                                                        <td></td>
                                                        <td></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        
                                                      </tr>
                                                      <tr>
                                                        <th scope="row"></th>
                                                        <td colspan="1"></td>
                                                        <td></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                        <td><a href="#" class="card-link"></a></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  <h6>Subir factura</h6>
                                                  <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <label for="text" class="form-label">Dia</label>
                                                        <input type="text" class="form-control" name="text">
                                                      </div>
                                                      <div class="col">
                                                        <label for="text" class="form-label">Mes</label>
                                                        <input type="text" class="form-control" name="text">
                                                      </div>
                                                      <div class="col">
                                                        <label for="text" class="form-label">Año</label>
                                                        <input type="text" class="form-control" name="text">
                                                      </div>
                                                      <div class="col">
                                                        <label for="text" class="form-label">Adjuntar factura</label>
                                                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                                                      </div>
                                                      <div class="col"> <br>
                                                        <button type="button" class="btn btn-outline-primary">Publicar</button>
                                                      </div> 
                                                      
                                                      
                                                    </div>
                                                    
                                                  </div>
                                                  <br>
                                                  <h6>Cambios en el sitio</h6>
                                                  <div>
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                      1 solicitud de cambio pendiente
                                                      <button type="button" class="btn btn-outline-primary">Checar cambio</button>
                                                    </label>
                                                  </div>
                                                  <br>
                                                  <div>
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                      Cambio realizado
                                                      <button type="button" class="btn btn-outline-primary">Notificar via mail</button>
                                                    </label>
                                                  </div>
                                                
                                                  
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>