<img src="assets/img/piso13.png" width="125" alt="">
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h2>Doble factor de autenticacion (2FA)</h2>
                                                <p>Introduce el codigo de verificacion que te llego por correo electronico</p>
                                                <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <label for="text" class="form-label">Codigo</label>
                                                        <input type="text" class="form-control" name="text"> 
                                                        <br>
                                                        <span><a href="#">Enviar codigo nuevo</a></span>
                                                      </div>
                                                      <div class="col">
                                                        
                                                      </div>
                                            </div>
                                            <br>
                                            <button type="button" class="btn btn-outline-primary" routerLink="/">Verificar codigo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<app-footer></app-footer>