<img src="assets/img/piso13.png" width="125" alt="">
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h2>Ingresa tu nueva contraseña</h2>
                                                <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <label for="text" class="form-label">Contraseña</label>
                                                        <input formControlName="password" type="text" class="form-control" name="text"> 
                                                        <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty || myForm.get('password').touched">
                                                            <p class="text-danger" *ngIf="myForm.get('password').hasError('required')">
                                                                Este campo es obligatorio
                                                            </p>
                                                        </div>
                                                        <br>
                                                        <label for="text" class="form-label">Confirmar contraseña</label>
                                                        <input formControlName="confirmPassword" type="text" class="form-control" name="text"> 
                                                        <div *ngIf="myForm.get('confirmPassword').errors && myForm.get('confirmPassword').dirty || myForm.get('confirmPassword').touched">
                                                            <p class="text-danger" *ngIf="myForm.get('confirmPassword').hasError('required')">
                                                                Este campo es obligatorio
                                                            </p>
                                                        </div>
                                                        
                                                      </div>
                                                      <div class="col">
                                                        
                                                      </div>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<app-footer></app-footer>