<app-navbar></app-navbar>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h1>Solicitar cambios o actualizaciones en mi sitio web</h1>
                                                <br>
                                                <h6>Porfavor explicanos que cambios quieres hacer en tu sitio web y mandanos los cambios muy puntuales</h6>
                                                <div class="mb-3">
                                                    <textarea formControlName="changeRequest" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                    <div *ngIf="myForm.get('changeRequest').errors && myForm.get('changeRequest').dirty || myForm.get('changeRequest').touched">
                                                        <p class="text-danger" *ngIf="myForm.get('changeRequest').hasError('required')">
                                                            Este campo es obligatorio
                                                        </p>
                                                    </div>
                                                    <div class="col"> <br>
                                                        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Enviar</button>
                                                      </div>
                                                </div>
                                                <p>Recuerda que los cambios pueden tardar hasta 24 hrs en verse reflejados.</p>
                                                <h2>¿Necesitas ayuda especializada?</h2>
                                                <br>
                                                <button type="button" class="btn btn-outline-primary" routerLink="/">Agenda una llamada con un especialista</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>