<img src="assets/img/piso13.png" width="125" alt=""> 
    <div class="container"> 
        <br>
        <h1>Identidad del sitio</h1> 
        <br>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
        <div class="container w-75 bg mt-5 rounded shadow"> 
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row"> 
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                          <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="text" class="form-label">Titulo del sitio</label>
                                                    <input formControlName="siteTitle" type="text" class="form-control" name="text">
                                                    <div *ngIf="myForm.get('siteTitle').errors && myForm.get('siteTitle').dirty || myForm.get('siteTitle').touched">
                                                      <p class="text-danger" *ngIf="myForm.get('siteTitle').hasError('required')">
                                                          El titulo del sitio es obligatorio
                                                      </p>
                                                  </div>
            
                                                </div>
                                                <div class="col">
                                                    <label for="text" class="form-label">Descripcion corta</label>
                                                    <input formControlName="shortDescription" type="text" class="form-control" name="text">
                                                    <div *ngIf="myForm.get('shortDescription').errors && myForm.get('shortDescription').dirty || myForm.get('shortDescription').touched">
                                                      <p class="text-danger" *ngIf="myForm.get('shortDescription').hasError('required')">
                                                          La descripcion corta es obligatoria
                                                      </p>
                                                  </div>
            
                                                </div>
                                          </div> <br>
                                          <h6><strong>Logotipo</strong></h6>
                                          <p>El logo sera la identidad principal del sitio web</p>
                                          <p>Por lo general se usan en el footer y en el header</p>
                                          <p>¡Sube uno aqui!</p>
                                          <p>El logo debe ser un minimo de 800 x 800 pixeles y de preferencia en png o vectores</p>
                                          <div class="mb-3">
                                            <input class="form-control form-control-sm" id="formFileSm" type="file">
                                          </div>
                                          <h6>Icono del sitio</h6>
                                          <p>Los iconos del sitio son los que ves en la pantalla del navegador,</p>
                                          <p>barras de favoritos ¡Sube uno aqui!</p>
                                          <p>Los iconos del sitio deben ser cuadrados y de al menos 512 x 512</p>
                                          <div class="mb-3">
                                            <input class="form-control form-control-sm" id="formFileSm" type="file">
                                          </div>
                                          <h6><strong>Manual de identidad</strong></h6>
                                          <p>Si cuentas con un manual de identidad por favor subelo aqui. Esto nos ayudara a poder adecuar tipografias y colores de acuerdo a tu marca</p>
                                          <div class="mb-3">
                                            <input class="form-control form-control-sm" id="formFileSm" type="file">
                                          </div>
                                          <div class="container">
                                            <div class="row">
                                              <div class="col">
                                                <button type="button" class="btn btn-outline-primary" routerLink="/">Guardar y continuar despues</button>
                                              </div>
                                              <div class="col">
                                                <button type="submit" class="btn btn-primary" (click)="demo()" [disabled]="myForm.invalid">Continuar</button>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </form>