<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h2>Agregar Código de Google Analytics</h2>
                                                <br>
                                                <h6>Si necesitas ayuda para conseguirlo. Sigue estos pasos</h6>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                    <div class="col"> <br>
                                                        <button type="button" class="btn btn-outline-primary" routerLink="/">Enviar</button>
                                                      </div>
                                                </div>
                                                <p>Recuerda que los cambios pueden tardar hasta 24 hrs en verse reflejados.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>