<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h2>Mails registrados</h2>
                                                <br>
                                                <h6>example@gmail.com</h6>
                                                <h6>example@gmail.com</h6>
                                                <h6>example@gmail.com</h6>
                                                <h6>example@gmail.com</h6>
                                                <p>Para cambiar la contraseña de tus mails lo haces directo sobre tu correo en el web mail.</p>
                                                <p>Si necesitas ayuda para saber como hacerlo haz clic aqui</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>