<img src="assets/img/piso13.png" width="125" alt="">
<div class="container"> 
  <br>
  <h3>Plan de arrendamiento</h3> 
  <br>
  <h4>Suscribete al plan de arrendamiento web y empieza a disfrutar de los beneficios</h4>
</div>

<div class="container"> 
  <br>
  <h3>Datos de facturación</h3> 
  <br>
  <h4>Tus facturas llegaran mes con mes al correo que pongas a continuacion al dia siguiente de recibir tu pago o podras descargarlas de tu historial de pago</h4>
</div>
<form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
    <div class="container w-75 bg mt-5 rounded shadow"> 
        <div class="row align-items-stretch">
            <div class=""></div>
            <div class="p-5 rounded-end">
                <div class="row"> 
                    <div class="container-fluid">
                        <div class="row" id="map_section">
                            <div class="col-20">
                                <div class="container">
                                    <div class="row">
                                      <div class="col">
                                        
                                        <label for="text" class="form-label">RFC</label>
                                        <input formControlName="rfc" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('rfc').errors && myForm.get('rfc').dirty || myForm.get('rfc').touched">
                                          <p class="text-danger" *ngIf="myForm.get('rfc').hasError('required')">
                                              El RFC es obligatorio
                                          </p>
                                      </div>

                                        <label for="text" class="form-label">Metodo de pago</label>
                                        <input formControlName="paymentMethod" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('paymentMethod').errors && myForm.get('paymentMethod').dirty || myForm.get('paymentMethod').touched">
                                          <p class="text-danger" *ngIf="myForm.get('paymentMethod').hasError('required')">
                                              El metodo de pago es obligatorio
                                          </p>
                                      </div>
                                      </div>

                                      

                                      <div class="col">
                                        <label for="text" class="form-label">Nombre o Razon social</label>
                                        <input formControlName="socialReason" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('socialReason').errors && myForm.get('socialReason').dirty || myForm.get('socialReason').touched">
                                          <p class="text-danger" *ngIf="myForm.get('socialReason').hasError('required')">
                                              La razon social es obligatoria
                                          </p>
                                      </div>

                                        <label for="text" class="form-label">Uso de CFDI</label>
                                        <input formControlName="cfdiUse" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('cfdiUse').errors && myForm.get('cfdiUse').dirty || myForm.get('cfdiUse').touched">
                                          <p class="text-danger" *ngIf="myForm.get('cfdiUse').hasError('required')">
                                              El CFDI es obligatorio
                                          </p>
                                      </div>
                                          </div>
                                      
                                         


                                      <div class="col">
                                        <label for="text" class="form-label">Correo Electronico</label>
                                        <input formControlName="email" type="text" class="form-control" name="text">
                                        <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty || myForm.get('email').touched">
                                          <p class="text-danger" *ngIf="myForm.get('email').hasError('required')">
                                              El correo electronico es obligatorio
                                          </p>
                                      </div>
                                        <img src="assets/img/pay.PNG" (click)="domain()"  width="125" alt="">

                                        <button *ngIf="!showPaypalButtons" 
                                          (click)="pay()">Pagar con paypal
                                        </button>
                                        
                                        <ngx-paypal *ngIf="showPaypalButtons" 
                                          [config]="payPalConfig">
                                        </ngx-paypal>
                                        
                                        <button *ngIf="showPaypalButtons" 
                                          (click)="back()">Volver atrás
                                        </button>

                                      </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</form>