<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h1>Historial de pagos</h1> <br>
                                                <table class="table table-bordered">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Fecha</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Total</th>
                                                        <th scope="col">Factura</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <th scope="row">20/10/2022</th>
                                                        <td>Completo</td>
                                                        <td>$2500 MXN</td>
                                                        <td><a href="#" class="card-link">Descargar</a></td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">20/10/2022</th>
                                                        <td>Completo</td>
                                                        <td>$2500 MXN</td>
                                                        <td><a href="#" class="card-link">Descargar</a></td>
                                                        
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">20/10/2022</th>
                                                        <td colspan="1">Completo</td>
                                                        <td>$2500 MXN</td>
                                                        <td><a href="#" class="card-link">Descargar</a></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>