<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-center">
                                                    
                                                    <h5>Hola! Bienvenido a tu perfil</h5>
                                                    <p>Plan de arrendamiento XXXX</p>
                                                    <p>Tu plan es de $2500 mensuales</p>
                                                    <br>

                                                    <h4>TU SITIO WEB ESTA EN LINEA</h4>
                                                    <button type="submit" class="btn btn-success"><strong> VISITAR MI SITIO WEB</strong></button>
                                                    
                                                    <div class="container"> <br> <br> <br>
                                                        <div class="row">
                                                          <div class="col">
                                                            <button type="button" class="btn btn-outline-primary btn-lg" (click)="uploadArticle()">Subir articulo al blog</button>
                                                          </div>
                                                          <div class="col">
                                                            <button type="button" class="btn btn-outline-primary btn-lg" (click)="changeRequest()">Solicitar cambios</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <app-footer></app-footer>
</div>
