<img src="assets/img/piso13.png" width="125" alt="">
    
<form action="">
    <div class="container w-75 bg mt-5 rounded shadow"> 
        <div class="row align-items-stretch">
            <div class=""></div>
            <div class="p-5 rounded-end">
                <div class="row"> 
                    <div class="container-fluid">
                        <div class="row" id="map_section">
                            <div class="col-20">
                                <div class="container">
                                    <div class="row">
                                        <h3>Elige tu dominio</h3>
                                        <h6>El dominio no se puede cambiar, piensalo bien</h6>
                                        <div class="container"> <br>
                                            <div class="row">
                                              <div class="col text-center">
                                                <h4>Necesito un dominio</h4>
                                              </div>
                                              <div class="col text-center">
                                                <h4>Ya tengo dominio</h4>
                                              </div>
                                              <div class="container"> <br>
                                                <div class="row">
                                                  <div class="col">
                                                    <div>
                                                      
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        <input type="text" class="form-control" name="text">
                                                      <button type="button" class="btn btn-outline-primary">Busqueda de dominio</button>
                                                    </label>
                                                  </div>
                                                  </div>
                                                  <div class="col">
                                                    <h6>Cual es tu dominio</h6>
                                                    <input type="text" class="form-control" name="text">
                                                    <br>
                                                    <h6>Pon estos DNS en tu dominio para que apunte a nuestro servidor.</h6>
                                                    <p>Mandaselos quien tenga accesos al dominio y..</p>
                                                    <p>descargar aqui un manual para hacerlo tu mismo</p>
                                                    
                                                    <h6>-345.bluehost.234</h6>
                                                    <h6>-345.bluehost.234</h6> 
                                                    <div class="text-right">
                                                        <button type="button" class="btn btn-outline-primary">Checar cambio</button>
                                                    </div>
                                                  </div>
                                                  
                                        
                                       
                                    </div>
                                    <div class="col"> <br>
                                        <div class="col text-center" >
                                            <button type="button" class="btn btn-outline-primary" (click)="siteidentity()">Continuar</button>
                                        </div>
                                       
                                      </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
  </div>
  </div>
        </div>
    </div>
</form>